<h1>
<%= @cocktail.name %>
</h1>

<table>
  <thead>
    <th> <strong>Ingredient</strong></th>
    <th><strong>Quantity</strong></th>
  </thead>
  <tbody>
    <tr>
  <% @cocktail.doses.each do |dose|%>
   <td> <%= dose.ingredient.name %> </td>
   <td> <%= dose.description %> </td>
  <% end %>
  </tr>
  </tbody>
  </table>

  <%= simple_form_for[@cocktail, @dose] do |f| %>
<%=f.input :description %>
<%= f.association :ingredient %>
<%=f.submit 'Create', class: 'btn btn-primary' %>
<% end %>


<%= link_to "Home", cocktails_path %>
