<h1>
  <%= @cocktail.name %>
</h1>

<table>
  <thead>
    <th> <strong>Ingredient</strong></th>
    <th><strong>Quantity</strong></th>
  </thead>
  <tbody>
    <tr>
      <% @cocktail.doses.each do |dose|%>
      <td> <%= dose.ingredient.name %> </td>
      <td> <%= dose.description %> </td>
      <td> <%= link_to "Remove", dose_path(dose),
      method: :delete,
      data: { confirm: "Don't!! \n Ok, go ahead" }%> </td>
      <% end %>
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %>
    </tr>
  </tbody>
</table>

<%= link_to "Home", cocktails_path %>
